git+https://github.com/karlicoss/kython.git
typing_extensions
python-dateutil
backoff
requests
pytz
sqlalchemy
dominate
getch
feedgen

beautifulsoup4 # pinboard
PyGithub       # github
praw           # reddit
python-hn      # hackernews
# twint          # twitter
# use git version, twint often breaks because of twitter api
git+git://github.com/twintproject/twint@a45a8ac#egg=twint
