git+https://github.com/karlicoss/kython.git
typing_extensions
python-dateutil
backoff
requests
pytz
sqlalchemy
dominate
getch
feedgen

beautifulsoup4 # pinboard
PyGithub       # github
praw           # reddit
twint          # twitter
python-hn      # hackernews
