.item {
    margin-top:    10px;
    margin-bottom: 10px;
}

.item.ignored {
    color: gray;
    margin-top:    1px;
    margin-bottom: 1px;
}

.permalink {
    color: gray;
}

.timestamp {
    /* TODO not sure it looks good... */
    font-family: monospace;

}

.day-changes-inner {
    padding-left: 1em;
    border-left: 10px solid;
}

.day-changes-inner.even {
    border-color: black;
}

.day-changes-inner.odd {
    border-color: orange;
}

.user {
    color: #035E7B;
}

.tag, .subreddit {
    color: darkgreen;
    /* color: #97130F; */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


td.min {
  width: 1%;
  white-space: nowrap;
}

.description {
  padding-left: 1em;
}

table {
  border-collapse: collapse;
}


body {
    padding-right: 500px;
}

#sidebar {
	  width: 500px;

	  position: fixed;
	  background: lightblue;
	  right: 0px;
	  z-index: 9999;
	  top: 0px;
	  height: 100%;
}

.text {
    padding-left: 1em;
}

.hackernews .text p {
    margin: 0; /* hack because hackernews stuff comes as html */
}
